.App {
  display: flex;
  height: 100vh;
}

.split-view {
  display: flex;
  width: 100%;
}

.left-section {
  width: 30%;
  background-color: #f0f0f0;
}

.right-section {
  width: 70%;
  padding: 1px;
}

.upper-part {
  height: 20%;
  background-color: #e0e0e0;
}

.lower-part {
  height: 80%;
  background-color: #ff0000;
}

.graph-area {
  position: relative;
  width: 100%;
  height: 100%;
}

.node-container {
  position: absolute;
}

.node-container {
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.node-coordinates {
  position: absolute;
  top: -36px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  color: black; 
  white-space: nowrap;
  z-index: 3
}

.graph-node {
  width: 30px;
  height: 30px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  transform: translate(-50%, -50%);
}

.graph-node.selected {
  background-color: #a0c4ff;
}

.edge-line {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.bottom-side-indicator {
  height: 2vh;
  background-color: #00000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  position: absolute;
  bottom: 0;
}

.left-side-indicator {
  width: 2vh;
  background-color: #00000000;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  position: absolute;
  left: 0;
}

.diagram-component {
  width: 100%;
  height: 100%;
  background-color: #DAE4E4;
}