.App {
  display: flex;
  height: 100vh;
}

.split-view {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.left-section {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #f0f0f0;
  z-index: 4;
}

.right-section {
  position: relative;
  width: 60%;
  height: 100%;
  padding-left: 40%;
  background-color: #ffffff;
}

.upper-part {
  height: 135px;
  background-color: #e0e0e0;
  padding-left: 1rem;
  padding-right: 1rem;
}

.lower-part {
  height: calc(100% - 136px);
  background-color: #ff0000;
}

.graph-area {
  position: relative;
  width: 100%;
  height: 100%;
}

.node-container {
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.node-coordinates {
  position: absolute;
  top: -32px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  color: black; 
  white-space: nowrap;
  z-index: 3;
  display: none;
}

.node-container:hover .node-coordinates,
.node-container.selected .node-coordinates,
.node-container.sink .node-coordinates {
  display: block;
}

.graph-node {
  min-width: 30px;
  height: 30px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 0 2px;
  white-space: nowrap;
}

.node-container.locked .graph-node {
  border: 2px solid #000000;
}

.node-container.selected .graph-node {
  background-color: #a0c4ff;
}

.node-container.sink .graph-node {
  background-color: #ec4d4d;
}

.node-container.source .graph-node {
  background-color: #24ca2c;
}

.node-container.sink.selected .graph-node {
  background-color: #bf4dec;
}

.node-container.source.selected .graph-node {
  background-color: #ece924;
}

.graph-node:hover {
  box-shadow: inset 0 0 0 3px #a0c4ff;
}

.graph-node.hover-sink {
  box-shadow: inset 0 0 0 3px #ec4d4dcc;
}

.graph-node.hover-source {
  box-shadow: inset 0 0 0 3px #24ca2ccc;
}

.edge-line {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.bottom-side-indicator {
  height: 2vh;
  background-color: #00000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  position: absolute;
  bottom: 0;
}

.left-side-indicator {
  width: 2vh;
  background-color: #00000000;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  position: absolute;
  left: 0;
}

.diagram-component {
  width: 100%;
  height: 100%;
  background-color: #DAE4E4;
}

.dialog-window {
  z-index: 4;
}

button {
  margin-right: 0.5rem;
}

.resizer {
  position: absolute;
  top: 0;
  height: 100%;
  width: 5px;
  background-color: #ccc;
  cursor: col-resize;
  z-index: 3;
  user-select: none;
}

.slider {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  background: #696969;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
}

.slideContainer {
  width: 100%;
  height: 15px;
}

.slidecontainer-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem; /* optional: spacing between them */
}

.sliderWrapper {
  display: flex;
  max-width: 38vw;
  width: 100%;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 1rem;
}

.labeledSlider {
  width: 50%;
  text-align: center;
}

.sliderLabel {
  font-size: 14px;
  margin-bottom: 4px;
  text-align: left;
}