.App {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 200px;
  background-color: #f8f9fa;
  padding: 10px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.sidebar-left {
  border-right: 1px solid #ddd;
}

.sidebar-right {
  border-left: 1px solid #ddd;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.graph-area {
  display: grid;
  gap: 10px;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(var(--x), 1fr);
  grid-template-rows: repeat(var(--y), 1fr);
  position: relative;
}


.node-container {
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.node-coordinates {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  color: black; 
  white-space: nowrap;
  z-index: 3
}

.graph-node {
  width: 30px;
  height: 30px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.graph-node.selected {
  background-color: #a0c4ff;
}

.edge-line {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.edge-list {
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
}

.edge-list p {
  cursor: pointer;
}

.edge-list p.selected-edge {
  background-color: #f0f0f0;
  border: 1px solid blue;
}